<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="../default.css" />
    </head>
    <body>
        <div class="di-wapper">
            <div class="di-header">
                <div class="logo"><a href="http://www.dii.com" title="dii"></a></div>
                <div class="logo-r">
                    <h3 class="name">XXXX登录中</h3>
                    <ul>
                        <li><strong><a href="#">首页</a></strong></li>
                        <li><strong><a href="#">高级玩法</a></strong></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-content di-index-banner">
            	<div>
                	<p class="download"><a href="#"><img src="../images/download.png" /></a></p>
                	<p><font color="red">无插件，无广告，无病毒，无木马</font></p>
                    <p>版本：滴0.99公测版  大小：3.0MB</p>
                    <p>系统：win xp/vista/win7</p>
                </div>
            </div>
            <div class="di-content di-index-content">
            	<dl class="faq">
                	<dt>帮助中心</dt>
                    <dd><a href="#">1、下载安装</a></dd>
					<dd><a href="#">2、注册登录</a></dd>
					<dd><a href="#">3、完善个人资料</a></dd>
					<dd><a href="#">4、关注与粉丝</a></dd>
					<dd><a href="#">5、发送消息</a></dd>
					<dd><a href="#">6、回复和私信</a></dd>
					<dd><a href="#">7、个人资料查看</a></dd>
					<dd><a href="#">8、黑名单</a></dd>
					<dd><a href="#">9、常见问题</a></dd>
                </dl>
                <dl>
                	<dt><label><a href="#">更多动态</a></label>最新动态</dt>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
					<dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                    <dd><label>10-02-02</label><a href="#">&bull; 新春活动上线，恭贺欣喜</a></dd>
                </dl>
                <dl class="link">
                	<dt>其它下载地址</dt>
                    <dd><a href="#">新浪下载</a></dd>
					<dd><a href="#">新浪下载</a></dd>
					<dd><a href="#">新浪下载下载</a></dd>
                    <dd><a href="#">新浪下载</a></dd>
                    <dd><a href="#">新浪下载</a></dd>
                </dl>
            </div>
    </div>

        <div class="di-wapper">
            <div class="di-footer">
                <a href="#">&copy;2009滴</a> | <a href="#">联系我们</a> | <a href="#">开发日志</a> | <a href="#">帮助</a> | <a href="#">意见反馈</a>  <a href="#">京ICP备09047853号</a>
            </div>
        </div>
    </body>
</html>
