<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../default.css" />
</head>
<body class="user-info">
<div class="user-info">
	<div class="avatar"><img src="../images/pic124.gif" /></div>
    <div class="following">
    	<p>你还未关注TA</p>
        <p><a href="#"><img src="../images/following.gif" /></a></p>
    </div>
    <div class="info">
    	<p><a href="#"><img src="../images/info_setting.png" align="absmiddle" /></a> <label class="nikname">xiaowei</label> (小魏小魏小魏小魏小魏) 
        <label class="nikname">-于2009-5-12加入滴</label> </p>
        <p>女 25 巨蟹座 黑龙江乌鲁木齐 </p>
        <p>简介：<label class="intro">一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</label></p>
        <p>网站：<a href="#" class="link">https://www.dii.cn</a></p>
        <p><a href="#">TA的粉丝999999</a>  <a href="#">TA关注的人992</a>  <a href="#">消息999</a></p>
    </div>
    <div class="message"><a href="#">全部消息包括转发</a>/<a href="#">只查看原创消息</a></div>
</div>
<div class="feed-list">
	<div class="date">
    	<p>2010/02</p>
        <p class="day">01</p>
        <p>星期一</p>
    </div>
</div>
</body>
</html>
