<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../im.css" />
<script src="../js/jquery-1.3.2.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$(".notice em").click(function(){
		$(this).parent().remove();
	});
});
</script>
</head>

<body>
<div class="notice"><em></em>立刻上传头像，<a href="#">点亮太阳图标</a>，你也可以出现在这里！</div>
<div align="center"><a href="#"><img src="../images/more.gif" /></a></div>
<ul class="friend-recommend">
	<li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#d983c8">女</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#d983c8">女</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#4ca4f7">男</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三</label> <font color="#4ca4f7">男</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#4ca4f7">男</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#4ca4f7">男</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#4ca4f7">男</font></p>
       	<p class="follow">你已经关注过TA</p>
	</li>
    <li>
    	<a href="#"><img src="../images/pic80.gif" /></a>
        <p><label class="nikname">一二三四五六</label> <font color="#d983c8">女</font></p>
       	<p><a href="#"><img src="../images/follow.gif" /></a></p>
	</li>
</ul>
</body>
</html>
