<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../im.css" />
<link rel="stylesheet" href="../js/datepicker/cupertino/jquery-ui-1.7.2.custom.css" />
<script type="text/javascript" src="../js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="../js/datepicker/jquery-ui-datepicker.js"></script>

</head>
<body>
<a href="#" onclick="window.open('info.html','info','width=448,height=700,scrollbars=no, resizable=yes')">info</a>

<br />
<br />
<a href="#" onclick="window.open('follow.html','info','width=448,height=700,scrollbars=no, resizable=yes')">follow</a>

</body>
</html>
