USE [d4d]
GO
/****** Object:  StoredProcedure [dbo].[Music_DeleteSongListByMusicId]    Script Date: 10/26/2009 18:21:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Create date: 2009-10-11
-- Description:	Delete  One MusicSonglist by music id
-- =============================================
ALTER PROCEDURE [dbo].[Music_DeleteSongListByMusicId]
   @MusicId AS INT 
AS
BEGIN	

   DELETE FROM  music_songlist
   WHERE MusicId = @MusicId
	
END
