@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family:arial,"新宋体"; font-size:12px; color:#333333;}
ul,li,p{margin:0; padding:0; list-style:none;}
img{ border:0;}
a{ text-decoration:none}
a:hover{text-decoration:underline}
label.nikname{color:#666666;}
label.intro{color:#999999;}
label.tips{color: #ff3333;}

html{ background: url(images/html-bg.gif); }

.di-wapper{ width: 800px; margin: 0 auto; }
.di-wapper a{ color: #0A8BE6; }
.di-header{ width: 800px; float: left; padding: 5px 0 10px; }
.di-header .logo{ float: left; margin: 10px 0 0 0; }
.di-header .logo a{ background:url(images/logo.png) no-repeat;width:63px; height:39px; display:block;
_background-image: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/logo.png");
/* png必须写绝对地址 上线时要做修改 */
}
.di-header .logo-r{ float: right; }
.di-header .logo-r h3.name{ font-weight: normal;  color: #CCCCCC; text-align: right; margin: 0; font-size: 12px; }
.di-header .logo-r ul li{ float: left; margin-left: 10px; display: inline; margin-top: 10px; }
.di-header .logo-r ul li strong{ font-size: 14px; }

.di-footer{ width: 800px; float: left; padding: 10px 0; text-align: center; }

.di-content{ width: 800px; float: left; background: white; }
.di-content-wapper{ width: 680px; padding: 10px 60px 50px; }
.di-content h3.tit{ border-bottom: 1px solid #E5E5E5; line-height: 50px; font-size: 12px; font-weight: normal; }
.di-content h3.tit strong{ color: #0A8BE6; font-size: 14px; }

.di-help-menu{ width: 160px; float: left; margin: 0; }
.di-help-menu ul{ margin: 10px 0 0 0; }
.di-help-menu li{ line-height: 1.8; }
.di-help-menu li.name{ font-size: 14px; font-weight: bolder; color: #0A8BE6; }
.di-help-menu li a{ color: black; }

.di-help-content{ width: 500px; border-left: 1px solid #E5E5E5; float: left; padding-left: 10px; }
.di-help-content dl{ width: 500px; margin: 10px 0 0 0; }
.di-help-content dt{ background: #EAF6FF; color: #0A8BE6; font-weight: bolder; line-height: 25px; padding: 0 10px; }
.di-help-content dd{ line-height: 1.6; padding: 10px; margin: 0; }

.di-adv-play{ width: 215px; margin: 10px 5px 0; height: 240px; overflow: hidden; float: left; display: inline; }
.di-adv-play h4{ width: 180px; border-bottom: 1px solid #E5E5E5; font-size: 14px; color: #0A8BE6; margin: 0; line-height: 30px; }
.di-adv-play h5{ width: 180px; line-height: 1.6; font-size: 12px; line-height: 1.6; margin: 10px 0 0 0; font-weight: normal; }
.di-adv-play p{ width: 178px; height: 118px; border: 1px solid #7F9DB9; margin: 10px 0 0 0; overflow: hidden; }

.di-reg-success{ background:url(images/success.jpg) no-repeat ; height:300px;text-align:center;}
.di-reg-success h3{ color: #0a8be6; font-family:'Microsoft YaHei';font-size:30px;margin:60px 0 5px 0;}
.di-reg-success p.info{font-size:18px; line-height:26px;font-family:'Microsoft YaHei';color:#333333;}
.di-reg-success p.info label{color:#ff6600}
.di-reg-success p.download {margin-top:30px;}

.di-invite-success{ background:url(images/invite_bg.jpg) no-repeat center ; border:none;height:460px;text-align:center; padding:10px 20px; width:760px;}
.di-invite-success .info-area{ border-bottom:1px solid #cbe9ff; height:157px;}
.di-invite-success .info-area h3{ color: #0a8be6; font-family:'Microsoft YaHei';font-size:30px; margin:0; padding:37px 0 0 0;}
.di-invite-success .info-area p.info{font-size:18px; line-height:26px;font-family:'Microsoft YaHei';color:#333333;}
.di-invite-success .info-area p.info label{color:#ff6600}
.di-invite-success .version{ position:relative; width:760px;}
.di-invite-success .version .screen{ position:absolute; top:23px;left:20px;}
.di-invite-success .version .banner{ position:absolute;top:78px;left:311px;}
.di-invite-success .version .download-area{position:absolute;top:165px;left:363px;text-align:left;}

.tab-setting {height:26px; padding-left:10px; position:relative;}
.tab-setting em{border-bottom:1px solid #e5e5e5; position:absolute; height:25px; left:0; z-index:-1; display:block; width:100%;}
.tab-setting a{ display:block; background:url(images/tab_setting.gif) no-repeat; width:100px; height:18px; padding-top:8px;float:left; margin-right:2px; text-align:center; z-index:2; color:#0099ff; text-decoration:none;}
.tab-setting a.on{ background-image:url(images/tab_setting_on.gif); color:#333333; font-weight:bold}

ul.di-form{ margin-top:20px; min-height:200px;}
ul.di-form input { width:248px; vertical-align:middle; margin-right:20px;}
ul.di-form button.submit{border:0; padding:0; height:40px; width:100px; cursor:pointer;}
ul.di-form li{ height:36px; }
ul.di-form li.black{ height:auto; padding:10px 112px; line-height:150%; }
ul.di-form label{ display:block; float:left; width:102px; padding-right:8px; text-align:right; height:22px; line-height:22px;}
ul.di-form span{height:22px; line-height:22px; margin:0 0 0 20px;}
ul.di-form li.block button{border:0; padding:0; height:42px; width:142px; cursor:pointer; vertical-align:middle;}
ul.di-form li.block label{padding-top:12px;}

.di-reg-info{padding:14px 0 0 0; height:106px; background:#eaf6ff;}
.di-reg-info p.avatar{ padding:4px 18px 4px 54px;; background:url(images/regavatar.gif) 50px 0  no-repeat; text-align:right; float:left; width:80px;}
.di-reg-info div.info p{ padding-top:9px;}
.di-reg-info p.text{ color:#0A8BE6;}

ul.di-reg-form{border-top:1px solid #E5E5E5; padding-top:15px;}
ul.di-reg-form.noborder{ border:none; padding-top:0;}
ul.di-reg-form li{ height:36px; }
ul.di-reg-form li.submit{height:55px; line-height:55px;}
ul.di-reg-form input { width:200px; margin-right:20px;}
ul.di-reg-form input.radio{ display:inline;float:none; width:auto;margin:0;}
ul.di-reg-form input.verifycode{ display:inline;float:none; width:70px;margin:0 10px 0 0 ;}
ul.di-reg-form label{ display:block; float:left; width:220px; padding-right:8px; text-align:right; height:22px; line-height:22px;}
ul.di-reg-form span{height:22px; line-height:22px; margin:0 0 0 20px;}
ul.di-reg-form li.submit label{ padding-top:18px;}
ul.di-reg-form li.submit button{border:0; padding:0; height:42px; width:102px; cursor:pointer; vertical-align:middle;}
