<?xml version="1.0" encoding="utf-8"?>
<content>
	<m ps="首页" url="/" />
	<m ps="资讯" url="/news.html" />
	<m ps="行程" url="/calender.html" />
	<m ps="档案" url="/singer.html" />
	<m ps="唱片" url="/music.html" />
	<m ps="视频" url="/video.html" />
	<m ps="图片" url="/photo.html" />
	<m ps="论坛" url="http://bbs.janezhang.com" />
	<m ps="商城" url="/shop.html" />
</content>