<Directory "/Users/fanyang/Work/php/demo">
    Options Indexes MultiViews Includes FollowSymLinks
    AllowOverride None
</Directory>


<VirtualHost *:80>
    ServerAdmin webmaster@dummy-host.example.com
    DocumentRoot "/Users/fanyang/Work/php/demo/webroot"
    ServerName d4d
    ServerAlias www.dummy-host.example.com
    XSendFile on
    XSendFileAllowAbove on
    ErrorLog "/Users/fanyang/Work/php/demo/dummy-d4d-error_log"
    CustomLog "/Users/fanyang/Work/php/demo/dummy-d4d-access_log" common
    RewriteEngine On
    RewriteRule /combo/__[^/]+/([^?]*)$  /Users/fanyang/Work/php/demo/asset/system/combo.php?$1 
    RewriteRule ^(.*?)__(.*?)$ /Users/fanyang/Work/php/demo/$1?$2
    RewriteLog "/Users/fanyang/Work/php/demo/d4d.rewrite.log"
    RewriteLogLevel 9
</VirtualHost>


