@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-size:12px; font-family:nsimsun,Verdana;}
form{display:inline; padding:0; margin:0;}
img{border:0}
#wrap{margin:0 auto; width:970px;}
div.header{ height:86px; text-align:center; position:relative; padding-top:10px;}
.header .login{ text-align:right; position:absolute; right:0; top:70px; width:300px;}
.header .login a{color:#f00}
.nav{ background:url(images/nav.png) bottom no-repeat;}
.nav .search{ background:url(images/search_input.png) left no-repeat; width:206px; margin-right:10px; height:20px; float:right; margin-top:18px;}
.nav .search input.text{ border:0; padding:0; margin-left:10px; line-height:20px; height:20px; background:transparent;}