@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-size:12px; font-family:nsimsun,Verdana; color:#878787; background-image:url(images/bg.png)}
ul,li,p{margin:0; padding:0; list-style:none}
form{display:inline; padding:0; margin:0;}
a{ text-decoration: none; color:#666}
a:hover{ text-decoration:underline}
img{border:0}
#wrap{margin:0 auto; width:970px; background:white; padding:0 15px;}
div.header{ height:86px; text-align:center; position:relative; padding-top:10px;}
.header .login{ text-align:right; position:absolute; right:0; top:70px; width:300px;}
.header .login a{color:#f00}
.nav{ background:url(images/nav.png) bottom no-repeat;}
.nav .search{ background:url(images/search_input.png) left no-repeat; width:206px; margin-right:10px; height:20px; float:right; margin-top:18px;}
.nav .search input.text{ border:0; padding:0; margin-left:10px; line-height:20px; height:20px; background:transparent;}
.sub-title{ height:58px; line-height:58px; border-bottom:1px solid #7f7f7f; margin-bottom:10px;}
.sub-title .title{ float:left; width:300px; font-size:24px; font-weight:bold; padding-left:10px;}
.sub-title .nav-link{ float:right; width:300px; text-align:right; padding-right:15px;}
.sub-nav { width:240px; float:left;}
.sub-nav li{height:30px; line-height:30px; font-size:14px; font-weight:bold; background:#fafafa; border-bottom:1px solid #e5e5e5; padding-left:15px;}

.main {width:640px;float:left; clear:right; margin-left:50px; margin-bottom:10px;}
.channel{ height:30px; border-bottom:1px solid #cbcbcb}
.news-top li { padding:20px 0; border-bottom:1px solid #cbcbcb; clear:both; line-height:21px; _height:63px; min-height:63px;}
.news-top p.pic{ float:left; width:80px; height:60px; padding-top:5px;}
.news-top li.big p{ padding:5px 0}
.news-top li.big p.title { line-height:20px; height:20px;}
.news-top li.big p.title b{ font-size:16px; color:red}
.news-list{ padding-top:24px;}
.news-list li {height:30px;}

.link {text-align:center;border-top:1px solid #c3c3c3; padding: 10px 0; width:100%; clear:both}
.footer{color:#878787; height:60px; border-top:1px solid #c3c3c3; line-height:50px; clear:both}
.footer .left{float:left}
.footer .right{float:right}
.footer a{color:#878787; text-decoration:none}