<?xml version="1.0"?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/news/(\d*)\.html</LookFor>
      <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/music.html</LookFor>
      <SendTo>~/channel/music/index.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/music/b(\d+)\.html</LookFor>
      <SendTo>~/channel/music/index.aspx?bid=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/music/b(\d+)/(\d+)\.html</LookFor>
      <SendTo>~/channel/music/index.aspx?bid=$1&amp;page=$2</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/music/b(\d+)/s(\d+).html</LookFor>
      <SendTo>~/channel/music/songlist.aspx?id=$2&amp;bandid=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/web/index.html</LookFor>
      <SendTo>~/web/index.aspx</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>