<?xml version="1.0" encoding="utf-8"?>
<!-- =====================================================
    作    者 : YangFan
    创建时间 : 2009-09-07 14:00:06
    修 改 者 : 
    修改时间 : 
    描    述 : 设置Maps
  ===================================================== -->
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="providers.config"/>

  <sqlMaps>
    <!-- tag:Tag -->
    <sqlMap embedded="Maps.Tag.xml,D4D.ShowCityTimes.Persistence"/>

    <!-- news:News -->
    <sqlMap embedded="Maps.News.xml,D4D.ShowCityTimes.Persistence"/>

    <!-- news_type:NewsType -->
    <sqlMap embedded="Maps.NewsType.xml,D4D.ShowCityTimes.Persistence"/>

    <!-- type_group:TypeGroup -->
    <sqlMap embedded="Maps.TypeGroup.xml,D4D.ShowCityTimes.Persistence"/>

    <!-- sysdiagrams:Sysdiagrams -->
    <sqlMap embedded="Maps.Sysdiagrams.xml,D4D.ShowCityTimes.Persistence"/>

  </sqlMaps>
</sqlMapConfig>
