<?xml version="1.0"?>
<RewriterConfig>
    <Rules>
        <RewriterRule>
            <LookFor>~/news.html</LookFor>
            <SendTo>~/channel/news/news.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/news/(\d*)\.html</LookFor>
            <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/news/d/(\d*)\.html</LookFor>
            <SendTo>~/channel/news/detail.aspx?nid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/news/c/(\d*)\.html</LookFor>
            <SendTo>~/channel/news/comment.aspx?nid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music\.html</LookFor>
            <SendTo>~/channel/music/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/(\d{4})\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?date=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/(\d{4})\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?id=$1&amp;date=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/song/(\d+).html</LookFor>
            <SendTo>~/channel/music/songs.aspx?id=$2&amp;bandid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/c/(\d+).html</LookFor>
            <SendTo>~/channel/music/comment.aspx?id=$2&amp;bid=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/photo.html</LookFor>
            <SendTo>~/channel/photo/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/(\d+)\.html</LookFor>
            <SendTo>~/channel/photo/index.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+).html</LookFor>
            <SendTo>~/channel/photo/photo.aspx?albumid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+)/slider.html</LookFor>
            <SendTo>~/channel/photo/slider.aspx?albumid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/c/(\d+).html</LookFor>
            <SendTo>~/channel/photo/comment.aspx?id=$1</SendTo>
        </RewriterRule>
         <RewriterRule>
             <LookFor>~/calender/d(\d+).html</LookFor>
            <SendTo>~/channel/calender/index.aspx?date=$1</SendTo>
        </RewriterRule>
		<RewriterRule>
             <LookFor>~/calender/b(\d+)/d(\d+).html</LookFor>
            <SendTo>~/channel/calender/index.aspx?id=$1&amp;date=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/calender.html</LookFor>
            <SendTo>~/channel/calender/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/singer.html</LookFor>
            <SendTo>~/channel/singer/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/singer/(\d+).html</LookFor>
            <SendTo>~/channel/singer/index.aspx?id=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/video.html</LookFor>
            <SendTo>~/channel/video/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/video/(\d+).html</LookFor>
            <SendTo>~/channel/video/index.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/video/d/(\d+).html</LookFor>
            <SendTo>~/channel/video/detail.aspx?id=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/video/c/(\d+).html</LookFor>
            <SendTo>~/channel/video/comment.aspx?id=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/shop.html</LookFor>
            <SendTo>~/channel/shop/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/shop/(\d+).html</LookFor>
            <SendTo>~/channel/shop/index.aspx?date=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/shop/d/(\d+).html</LookFor>
            <SendTo>~/channel/shop/detail.aspx?id=$1</SendTo>
        </RewriterRule>

      <RewriterRule>
        <LookFor>~/order/(\d+).html</LookFor>
        <SendTo>~/channel/shop/order_tradelist.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/order/addr/(\d+).html</LookFor>
        <SendTo>~/channel/shop/order_addr.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/order/check/(\d+).html</LookFor>
        <SendTo>~/channel/shop/order_confirm.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/order/finish/(\d+).html</LookFor>
        <SendTo>~/channel/shop/order_finish.aspx?id=$1</SendTo>
      </RewriterRule>
        
        <RewriterRule>
            <LookFor>~/regist.html</LookFor>
            <SendTo>~/channel/user/regist.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/forget.html</LookFor>
            <SendTo>~/channel/user/renew.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/search.html</LookFor>
            <SendTo>~/channel/search/index.aspx</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/sitemap.html</LookFor>
            <SendTo>~/channel/sitemap/index.aspx</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/copyright.html</LookFor>
            <SendTo>~/channel/user/corp.aspx?page=copyright</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/about.html</LookFor>
            <SendTo>~/channel/user/corp.aspx?page=about</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/zhaopin.html</LookFor>
            <SendTo>~/channel/user/corp.aspx?page=zhaopin</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/contact.html</LookFor>
            <SendTo>~/channel/user/corp.aspx?page=contact</SendTo>
        </RewriterRule>
         <RewriterRule>
            <LookFor>~/links.html</LookFor>
            <SendTo>~/channel/user/corp.aspx?page=links</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/index.html</LookFor>
            <SendTo>~/default.aspx</SendTo>
        </RewriterRule>
    </Rules>
</RewriterConfig>
