<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="../default.css" />
    </head>
    <body>
        <div class="di-wapper">
            <div class="di-header">
                <div class="logo"><a href="http://www.dii.com" title="dii"></a></div>
                <div class="logo-r">
                    <h3 class="name">XXXX登录中</h3>
                    <ul>
                        <li><strong><a href="#">首页</a></strong></li>
                        <li><strong><a href="#">高级玩法</a></strong></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-content di-content-wapper di-invite-success">
  <div class="info-area">
                    <h3>恭喜你注册完成！</h3>
                    <p class="info">注册帐号为：<label>userid</label><br/>
                    使用该帐号及注册时填写的密码登录“滴”客户端软件即可</p>
               </div>
              <div class="version">
   		      		<div class="screen"><img src="../images/version.jpg" /></div>
                <div class="banner"><img src="../images/banner.jpg" /></div>
                   	<div class="download-area">
                       <a href="#" style="margin-right:20px"><img src="../images/download.gif" align="absmiddle" /></a>
                       <a href="#">免安装版下载</a>
                       <br/><br/>
                       <label class="info">版本：滴0.99公测版  大小：3.0MB</label><br/>
					   <label class="info">系统：win xp/vista/win7</label>
                   	</div>
               </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-footer">
                <a href="#">&copy;2009滴</a> | <a href="#">联系我们</a> | <a href="#">开发日志</a> | <a href="#">帮助</a> | <a href="#">意见反馈</a>  <a href="#">京ICP备09047853号</a>
            </div>
        </div>
    </body>
</html>
