<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="../default.css" />
    </head>
    <body>
        <div class="di-wapper">
            <div class="di-header">
                <div class="logo"><img alt="" src="../images/logo.png" /></div>
                <div class="logo-r">
                    <h3 class="name">XXXX登录中</h3>
                    <ul>
                        <li><strong><a href="#">首页</a></strong></li>
                        <li><strong><a href="#">高级玩法</a></strong></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-content di-content-wapper">
                <h3 class="tit"><strong>帮助</strong> - 滴，新手使用指南，帮助你快速的了解和使用滴</h3>
                <div class="di-help-menu">
                    <ul>
                        <li class="name">使用说明</li>
                        <li><a href="#">什么是滴？</a></li>
                        <li><a href="#">注册账号</a></li>
                        <li><a href="#">下载与安装</a></li>
                        <li><a href="#">登录使用</a></li>
                        <li><a href="#">完善个人资料</a></li>
                        <li><a href="#">关注与粉丝</a></li>
                        <li><a href="#">发送消息</a></li>
                        <li><a href="#">回复与私信</a></li>
                        <li><a href="#">查看个人资料</a></li>
                        <li><a href="#">黑名单</a></li>
                        <li><a href="#">举报</a></li>
                    </ul>
                    <ul>
                        <li class="name">常见问题</li>
                        <li><a href="#">为什么我不能登录？</a></li>
                        <li><a href="#">有些消息不是通过滴发送的？</a></li>
                        <li><a href="#">哪些人值得我去收听？</a></li>
                    </ul>
                </div>
                <div class="di-help-content">
                    <dl>
                        <dt>一、“滴”是什么？</dt>
                        <dd>滴是一个即时社交网络。大家用140个汉字的长度来交流生活·娱乐·工作·情感。通过网站的注册页面进行账号注册，注册完成后下载客户端并登录即可使用“滴”。</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-footer">
                <a href="#">&copy;2009滴</a> | <a href="#">联系我们</a> | <a href="#">开发日志</a> | <a href="#">帮助</a> | <a href="#">意见反馈</a>  <a href="#">京ICP备09047853号</a>
            </div>
        </div>
    </body>
</html>
