<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="../default.css" />
    </head>
    <body>
        <div class="di-wapper">
            <div class="di-header">
                <div class="logo"><a href="http://www.dii.com" title="dii"></a></div>
                <div class="logo-r">
                    <h3 class="name">XXXX登录中</h3>
                    <ul>
                        <li><strong><a href="#">首页</a></strong></li>
                        <li><strong><a href="#">高级玩法</a></strong></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-content di-content-wapper">
                <h3 class="tit" style="border:none;"><strong>设置</strong></h3>
                <div class="tab-setting">
                	<a href="#" class="on">修改密码</a>
                    <a href="#">邮件设置</a>
                    <a href="#">黑名单</a>
                    <a href="#">手机绑定</a>
                  <em></em>
                </div>
                <ul class="di-form modify-password">
                    <li><label>当前密码:</label><input type="password" /></li>
                    <li><label>当前密码:</label><input type="password" /></li>
                    <li><label>当前密码:</label><input type="password" /></li>
                    <li><label></label><button type="submit" class="submit"><img src="../images/submit.gif" /></button></li>
                </ul>
                
                 <div class="tab-setting">
                	<a href="#">修改密码</a>
                    <a href="#" class="on">邮件设置</a>
                    <a href="#">黑名单</a>
                    <a href="#">手机绑定</a>
                   <em></em>
                </div>
                 <ul class="di-form modify-password">
                    <li><label>当前E-mail:</label><input type="password" />[ <a href="#">修改</a> ]</li>
                    <li><label>当前E-mail:</label><input type="password" /></li>
                    <li><label>当前E-mail:</label><input type="password" /></li>
                    <li><label></label><button type="submit" class="submit"><img src="../images/submit.gif" /></button></li>
                </ul>
                
                 <div class="tab-setting">
                	<a href="#">修改密码</a>
                    <a href="#" >邮件设置</a>
                    <a href="#" class="on">黑名单</a>
                    <a href="#">手机绑定</a>
                   <em></em>
                </div>
                <ul class="di-form modify-password">
                    <li class="black"><b>被加入黑名单的人：</b><br/>
                    	你们的关注关系将自动解除<br/>
                        TA将无法关注你，且无法对你发送私信<br/>
                        如果你允许TA关注你，只需要将TA移出黑名单</li>
                    <li class="block"><label>帐户名：</label><input type="password" />
                    	<button type="submit" class="block-btn"><img src="../images/block.gif" /></button></li>
                </ul>
                
                  <div class="tab-setting">
                	<a href="#">修改密码</a>
                    <a href="#">邮件设置</a>
                    <a href="#">黑名单</a>
                    <a href="#" class="on">手机绑定</a>
                    <em></em>
                </div>
                <ul class="di-form modify-password">
                    <li class="black">
                    	将账号与手机号绑定后，向 <a href="mailto:mms@dii.cn">mms@dii.cn</a>发送彩信，即可上传图片；<br />
						把你想说的话写入彩信正文即可（主题可不填写）。<br />
						我们绝不会将您的手机号码公开，请放心。</li>
                    <li class="block"><label>手机号码：</label><input type="password" />
                    	<button type="submit"><img src="../images/submit.gif" /></button></li>
                </ul>
            </div>
        </div>

        <div class="di-wapper">
            <div class="di-footer">
                <a href="#">&copy;2009滴</a> | <a href="#">联系我们</a> | <a href="#">开发日志</a> | <a href="#">帮助</a> | <a href="#">意见反馈</a>  <a href="#">京ICP备09047853号</a>
            </div>
        </div>
    </body>
</html>
