<?xml version="1.0" encoding="utf-8"?>
      <!-- =====================================================
    作    者 : YangFan
    创建时间 : 2009-09-07 14:00:06
    修 改 者 : 
    修改时间 : 
    描    述 : IbatisNet接口映射
      ===================================================== -->

<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers embedded="providers.config, D4D.IbatisNet" />

  <context id="SqlMapDao" default="true">

    <!-- ==== SqlServer : SqlServerClient configuration ========= -->
    <database>
      <provider name="sqlServer2.0" />
      <dataSource name="sqlServer2.0" connectionString="connectionString" />
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="embedded" value="SqlMap.config, D4D.IbatisNet" />
    </daoSessionHandler>

    <daoFactory>
      <!-- tag:Tag -->
      <dao interface="D4D.ShowCityTimes.Persistence.Interfaces.ITagDao, D4D.ShowCityTimes.Persistence"
          implementation="D4D.ShowCityTimes.Persistence.MapperDao.TagSqlMapDao, D4D.ShowCityTimes.Persistence" />

      <!-- news:News -->
      <dao interface="D4D.ShowCityTimes.Persistence.Interfaces.INewsDao, D4D.ShowCityTimes.Persistence"
          implementation="D4D.ShowCityTimes.Persistence.MapperDao.NewsSqlMapDao, D4D.ShowCityTimes.Persistence" />

      <!-- news_type:NewsType -->
      <dao interface="D4D.ShowCityTimes.Persistence.Interfaces.INewsTypeDao, D4D.ShowCityTimes.Persistence"
          implementation="D4D.ShowCityTimes.Persistence.MapperDao.NewsTypeSqlMapDao, D4D.ShowCityTimes.Persistence" />

      <!-- type_group:TypeGroup -->
      <dao interface="D4D.ShowCityTimes.Persistence.Interfaces.ITypeGroupDao, D4D.ShowCityTimes.Persistence"
          implementation="D4D.ShowCityTimes.Persistence.MapperDao.TypeGroupSqlMapDao, D4D.ShowCityTimes.Persistence" />

      <!-- sysdiagrams:Sysdiagrams -->
      <dao interface="D4D.ShowCityTimes.Persistence.Interfaces.ISysdiagramsDao, D4D.ShowCityTimes.Persistence"
          implementation="D4D.ShowCityTimes.Persistence.MapperDao.SysdiagramsSqlMapDao, D4D.ShowCityTimes.Persistence" />

    </daoFactory>

  </context>

</daoConfig>
