<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="provider" value="sqlServer2.0" />
	<add key="connectionString" value="server=125.39.93.181;database=d4d;uid=sa;pwd=qwertasdfg" />
	<add key="root" value="./" />
	<add key="assembly" value="D4D.Application" />
    
    <add key="userid" value="sa" />
    <add key="password" value="123456" />
    <add key="database" value="Northwind" />
    <add key="datasource" value="zhangweimo\sqlexpress" />
    <add key="selectKey" value="select @@IDENTITY as value" />
    <add key="directory" value="bin/Maps" />
    <add key="useStatementNamespaces" value="true" />
</settings>
