<?xml version="1.0"?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/news/(.[0-9]*)\.html</LookFor>
      <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/web/index.html</LookFor>
      <SendTo>~/web/index.aspx</SendTo>
    </RewriterRule>
  </Rules>
</RewriterConfig>