<?xml version="1.0"?>
<RewriterConfig>
    <Rules>
        <RewriterRule>
            <LookFor>~/news.html</LookFor>
            <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/news/(\d*)\.html</LookFor>
            <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music\.html</LookFor>
            <SendTo>~/channel/music/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?bid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/(\d+)\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?bid=$1&amp;page=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/s(\d+).html</LookFor>
            <SendTo>~/channel/music/songs.aspx?id=$2&amp;bandid=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/photo.html</LookFor>
            <SendTo>~/channel/photo/index.aspx?bid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/b(\d+)\.html</LookFor>
            <SendTo>~/channel/photo/index.aspx?bid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+)/p(\d+)\.html</LookFor>
            <SendTo>~/channel/photo/photo.aspx?albumid=$1&amp;page=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+)/image/(\d+).html</LookFor>
            <SendTo>~/channel/photo/slider.aspx?id=$2&amp;albumid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/calender.html</LookFor>
            <SendTo>~/channel/calender/index.aspx</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/sitemap.html</LookFor>
            <SendTo>~/channel/sitemap/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/index.html</LookFor>
            <SendTo>~/default.aspx</SendTo>
        </RewriterRule>
    </Rules>
</RewriterConfig>