<?xml version="1.0"?>
<RewriterConfig>
    <Rules>
        <RewriterRule>
            <LookFor>~/news.html</LookFor>
            <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/news/(\d*)\.html</LookFor>
            <SendTo>~/channel/news/news.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music\.html</LookFor>
            <SendTo>~/channel/music/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/(\d{4})\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?date=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/(\d{4})\.html</LookFor>
            <SendTo>~/channel/music/index.aspx?id=$1&amp;date=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/music/b(\d+)/song/(\d+).html</LookFor>
            <SendTo>~/channel/music/songs.aspx?id=$2&amp;bandid=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/photo.html</LookFor>
            <SendTo>~/channel/photo/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/(\d+)\.html</LookFor>
            <SendTo>~/channel/photo/index.aspx?bid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+).html</LookFor>
            <SendTo>~/channel/photo/photo.aspx?id=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/photo/album/(\d+)/slider.html</LookFor>
            <SendTo>~/channel/photo/slider.aspx?albumid=$1</SendTo>
        </RewriterRule>
         <RewriterRule>
             <LookFor>~/calender/d(\d+).html</LookFor>
            <SendTo>~/channel/calender/index.aspx?date=$1</SendTo>
        </RewriterRule>
		<RewriterRule>
             <LookFor>~/calender/b(\d+)/d(\d+).html</LookFor>
            <SendTo>~/channel/calender/index.aspx?id=$1&amp;date=$2</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/calender.html</LookFor>
            <SendTo>~/channel/calender/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/singer.html</LookFor>
            <SendTo>~/channel/singer/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/singer/(\d+).html</LookFor>
            <SendTo>~/channel/singer/singer.aspx?id=$1</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/video.html</LookFor>
            <SendTo>~/channel/video/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/regist.html</LookFor>
            <SendTo>~/channel/user/regist.aspx</SendTo>
        </RewriterRule>

        <RewriterRule>
            <LookFor>~/sitemap.html</LookFor>
            <SendTo>~/channel/sitemap/index.aspx</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>~/index.html</LookFor>
            <SendTo>~/default.aspx</SendTo>
        </RewriterRule>
    </Rules>
</RewriterConfig>
