@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family:arial,"新宋体"; font-size:12px; color:#333333;}
ul,li,p{margin:0; padding:0; list-style:none;}
img{ border:0;}
a{ text-decoration:none}
a:hover{text-decoration:underline}
label.nikname{color:#666666;}
label.intro{color:#999999;}
label.tips{color: #ff3333;}

html{ background: url(images/html-bg.gif); }

.di-wapper{ width: 800px; margin: 0 auto; }
.di-wapper a{ color: #0A8BE6; }
.di-header{ width: 800px; float: left; padding: 5px 0 10px; }
.di-header .logo{ float: left; margin: 10px 0 0 0; }
.di-header .logo-r{ float: right; }
.di-header .logo-r h3.name{ font-weight: normal;  color: #CCCCCC; text-align: right; margin: 0; font-size: 12px; }
.di-header .logo-r ul li{ float: left; margin-left: 10px; display: inline; margin-top: 10px; }
.di-header .logo-r ul li strong{ font-size: 14px; }

.di-footer{ width: 800px; float: left; padding: 10px 0; text-align: center; }

.di-content{ width: 800px; float: left; background: white; }
.di-content-wapper{ width: 680px; padding: 10px 60px 50px; }
.di-content h3.tit{ border-bottom: 1px solid #E5E5E5; line-height: 50px; font-size: 12px; font-weight: normal; }
.di-content h3.tit strong{ color: #0A8BE6; font-size: 14px; }

.di-help-menu{ width: 160px; float: left; margin: 0; }
.di-help-menu ul{ margin: 10px 0 0 0; }
.di-help-menu li{ line-height: 1.8; }
.di-help-menu li.name{ font-size: 14px; font-weight: bolder; color: #0A8BE6; }
.di-help-menu li a{ color: black; }

.di-help-content{ width: 500px; border-left: 1px solid #E5E5E5; float: left; padding-left: 10px; }
.di-help-content dl{ width: 500px; margin: 10px 0 0 0; }
.di-help-content dt{ background: #EAF6FF; color: #0A8BE6; font-weight: bolder; line-height: 25px; padding: 0 10px; }
.di-help-content dd{ line-height: 1.6; padding: 10px; margin: 0; }

.di-adv-play{ width: 215px; margin: 10px 5px 0; height: 240px; overflow: hidden; float: left; display: inline; }
.di-adv-play h4{ width: 180px; border-bottom: 1px solid #E5E5E5; font-size: 14px; color: #0A8BE6; margin: 0; line-height: 30px; }
.di-adv-play h5{ width: 180px; line-height: 1.6; font-size: 12px; line-height: 1.6; margin: 10px 0 0 0; font-weight: normal; }
.di-adv-play p{ width: 178px; height: 118px; border: 1px solid #7F9DB9; margin: 10px 0 0 0; overflow: hidden; }